body{
    margin:0;
    padding:0;
    display: flex;
}
.container{
    display:flex;
    width:170vh;
    height: 100vh;
}
.left-side{
    width: 50vw;
    height:100vh;
    overflow: hidden;
    margin-left:7rem;
    }
    .left-side img{
        width: 100%;
        height: 100%;
        object-fit:cover;
    }

    .brand-overlay{
        position: absolute;
  top: 50%;
  left: 32%;
  transform: translate(-50%, -25%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  opacity:0.9;
    }

.right-side{
    width: 50vw;
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:50px;
    background-color:white;
}
form{
    display:flex;
    flex-direction: column;

}
.form-group{
    margin-bottom: 20px;
}
input{
    padding: 10px;
    font-size: 16px;
}
button{
    padding:10px;
    background-color:darkmagenta;
    color: white;
    font-size: 16px;
    border : none;
    cursor: pointer;
    
}